@import "~src/assets/scss/variables";

.owner-column {
  width: 47px;
  text-align: right;
}

.project-type-badge {
  background: $color-darker;
  color: #d4d4d4;
}

.logo {
  background: #292929;
  height: 42px;
  width: 42px;
}
