.profile-top {
  width: 30px;
  height: 30px;
}

.profile-rest {
  max-width: 20px;
  max-height: 20px;
}

.dropdown-menu {
  max-height: 200px; 
  overflow: auto;
}

.dropdown-toggle {
  min-width: 22px; 
  height: 22px; 
  padding-left: 5px; 
  padding-right: 6px; 
  background: rgba(0,0,0,0.2); 
  border-radius: 22px;
}
