<div class="d-flex flex-row align-items-center">
  <div class="d-flex flex-shrink-0">
    <div *ngFor="let user of topUsers" class="mr-1">
  	  <div class="profile-top">
        <profile-image [user]="user"></profile-image> 
        <bs-tooltip placement="bottom">{{user.username}}</bs-tooltip> 	  
  	  </div>
    </div>
  </div>
  <div class="pl-1" *ngIf="restUsers.length > 0">
    <bs-dropdown>
	    <span class="dropdown-toggle no-caret d-block text-center org-nav-text-color">
	      <small><strong>+{{restUsers.length}}</strong></small>
	    </span>
	    <div class="dropdown-menu dropdown-menu-right">
	      <div *ngFor="let user of restUsers" class="dropdown-item d-flex flex-row align-items-center px-3">
	        <div class="profile-rest">
		      <profile-image [user]="user"></profile-image> 	  
		  	</div>
		  	<span class="w-100 ml-2">{{user.username}}</span>
	      </div>
	    </div>
    </bs-dropdown>
  </div>
</div>
