<div class="card">
  <div class="card-header">
    <strong>Transfer ownership to another user</strong>
  </div>
  <div class="card-body" id="body">
    <div class="mb-3">
      <label>User</label>
      <cc-search-user-input (user)="newOwner = $event"></cc-search-user-input>
    </div>
  </div>
  <div class="card-footer text-end" id="footer">
    <button class="btn btn-sm btn-primary" (click)="transferPrivate()">Transfer</button>
  </div>
</div>
