<div class="container mt-3">

  <ul #nav="ngbNav" class="nav-tabs" ngbNav>
    <li [ngbNavItem]="1">
      <a ngbNavLink>Properties</a>
      <ng-template ngbNavContent>
        <cc-edit-project-card
          *ngIf="projectStore.canUpdateProject(user)"
          [project]="project"
          class="d-block mb-3"
        >
        </cc-edit-project-card>

        <cc-edit-private-ownership-card
          *ngIf="projectStore.canUpdateProject(user)"
          [project]="project"
          class="d-block mb-3"
        >
        </cc-edit-private-ownership-card>

        <cc-edit-organization-ownership-card
          *ngIf="projectStore.canUpdateProject(user)"
          [project]="project"
          class="d-block mb-3"
        >
        </cc-edit-organization-ownership-card>

        <div *ngIf="projectStore.canLeaveProject(user)" class="list-group mb-3">
          <div class="list-group-item d-flex">
            <div class="flex-grow-1">
              <h6 class="m-0">Leave the project</h6>
              <p class="text-muted m-0">By leaving the project you can no longer access the editor.</p>
            </div>
            <div class="ms-3">
              <button (click)="projectStore.leaveProject()" class="btn btn-sm btn-danger">Leave</button>
            </div>
          </div>
        </div>

        <div *ngIf="projectStore.canDeleteProject(user)" class="list-group">
          <div class="list-group-item py-3">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h6 class="m-0">Delete the project</h6>
                <p class="text-muted m-0">Deleting the organization also deletes editor related resources.</p>
              </div>
              <div class="d-flex">
                <button
                  (click)="projectStore.deleteProject()"
                  class="btn btn-sm btn-danger align-self-center"
                  [disabled]="hasActiveBuildJobs"
                >
                  Delete
                </button>
              </div>
            </div>
            <div class="alert alert-danger mt-2 mb-0 py-2" *ngIf="hasActiveBuildJobs">
              The project cannot be deleted because there are active build jobs.
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li *ngIf="projectStore.canUpdateProject(user) && project.template != null" [ngbNavItem]="2">
      <a ngbNavLink>Git</a>
      <ng-template ngbNavContent>
        <cc-edit-git-information-card [project]="project" class="d-block mb-3"></cc-edit-git-information-card>
      </ng-template>
    </li>
    <li *ngIf="projectStore.canUpdateImages(user)" [ngbNavItem]="3">
      <a ngbNavLink>Images</a>
      <ng-template ngbNavContent>
        <cc-workspace-images-card [project]="project"></cc-workspace-images-card>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
