<div class="container">
  <div class="mt-3 mx-auto">

    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <strong>Delete Account</strong>
      </div>

      <div class="card-footer text-end">
        <button (click)="openDeleteModal()" class="btn-danger btn">Delete</button>
      </div>
    </div>

  </div>
</div>
