<div class="card pyro-panel d-flex flex-column h-100" *ngIf="currentGraphModel!=null">
    <div class="card-body p-0 pyro-panel-body">
        <div *ngIf="check()" class="mx-auto" id="paper_map"></div>
    </div>
</div>
