<cc-user-navbar></cc-user-navbar>

<div class="mx-auto d-flex flex-column gap-3 mt-3" style="max-width: 340px">
  <img class="d-block w-100 rounded-2" src="assets/img/cinco-logo.png">
  <a class="d-block btn btn-primary py-2" routerLink="/login">Login</a>
  <a
    *ngIf="settings && settings.allowPublicUserRegistration"
    class="d-block btn btn-secondary py-2"
    routerLink="/register"
  >
    Register
  </a>
</div>
