<div class="alert-container">
	<div class="alert" 
		role="alert" 
		[class.pyro-alter-show]="show" 
		[class.pyro-alter-hide]="!show"
		[ngClass]="getAlertClass()"
	>    
	    <button (click)="close()" type="button" class="close" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
		</button>
		<span *ngIf="currentNotification != null">{{currentNotification.message}}</span>
	</div>
</div>
