/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  border-radius 1rem!important

.home .hero .description
  color: #ababab !important;

.home .hero .action-button {
  background: #444444 !important;
}

.home .hero .action-button:hover,
.home .hero .action-button:active,
.home .hero .action-button:focus {
  background: #333 !important;
}

pre {
  color: #e4e0dc;
  font-size: .85rem;
}
