<div class="d-flex flex-column position-absolute top-0 w-100 bottom-0">
  <div class="navigation">
    <cc-navigation></cc-navigation>
  </div>
  <div class="page flex-grow-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
