ul {
	list-style-type: none;
}

.cmd-caret {
	cursor: pointer;
}

.cmd-caret::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
}
	
.cmd-caret-down::before {
	transform: rotate(90deg);
}

.cmd-nested {
	display: none;
}

.active {
	display: block;
} 