.micro-column-right-xl {
	width: calc(100% - 75px);
    margin-left: 18px;
}

.micro-column-right-sm {
	width:calc(100% - 283px);
}

.pyro-micro-navigation {
	margin-bottom:-11px;
	transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

#menu-button:focus {
	outline: none;
	border: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#pyro-micro-menu {
  height: 100vh;
  width: 210px;
  border: #57747b 0px solid;
}

.y-resizer {
  width: 5px;
  margin-top: 48px;
  background-color: #515151;
  cursor: w-resize;
}

#canvas-area {
  height: 100vh;
}

#scroll-menu {
	position: relative;
  display: grid;
  margin-left: 15px;
  margin-top: 30px;
  width: 39px;
  height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
}

#micro-editor {
  height: 100%;
}

@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}

.grid-stack-item.hidden {
  height: 0 !important;
  overflow: hidden;
  visibility: hidden;
}

.grid-stack-item.fullscreen {
  height: auto !important;
  width: 100%;
  left: 0;
  z-index: 100;
  bottom: 10px !important;
  position: fixed;
  top: 4.2rem !important;
}

.grid-stack-item-content {
  display: flex;
  flex-direction: column;  
  border: 1px solid #232323;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  background: #525252;
}

.grid-stack-item-header {
  padding: .25rem 1rem;
  margin: 0;
  margin-bottom: .5rem;
  background: #2d2d2d;
  cursor: grab;
  color: #868686;
  height: 28px;
}

.grid-stack-item-header i {
  display: none;
  cursor: pointer;
}
.grid-stack-item-header i:hover {
  color: #fff;
}
.grid-stack-item-header:hover i {
  display: inline;
}

.grid-stack-item-body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.pyro-panel-body {
  background: none;
}

.grid-stack-item-body bs-tabs {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

.grid-stack-item-body bs-tab-content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.grid-stack-item-body bs-tab-content > div {
  flex-direction: column;
  display: flex;
}

.nav-tabs .nav-link.active {
  color: #eaeaea;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  transition: 0.2s;
}

.file-drop-hover:hover {
  background-color: rgb(215 215 215);
}

.file-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  transition: 0.2s;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(220, 220, 220, 1.0);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.0);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}