.toggle-button {
  display: inline-block;
  height: 20px;
  width: 36px;
  position: relative;
  border-radius: 18px;
  transition: background .3s ease-in-out;

  &.enabled {
    background: #118d55;

    .toggle {
      right: 4px;
    }
  }

  &.disabled {
    background: #333333;

    .toggle {
      left: 4px;
    }
  }

  .toggle {
    position: absolute;
    display: block;
    border-radius: 14px;
    background: #fff;
    top: 3px;
    width: 14px;
    height: 14px;
  }
}
