.clickable-alert:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.list-group-item-action {
    &:hover {
        background: #f2f2f2 !important;
    }
}

.external-link-icon {
    position: absolute; 
    right: 7px; top: 7px;
}