.form-group {
  margin-bottom: 0;
}

#search-term:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.result-list .list-group-item {
  padding: .5rem .75rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.result-list .list-group-item:hover {
  background: rgba(0,0,0,0.05);
}
