<div class="modal show d-block fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="messages != null" style="max-height: 80vh;overflow: auto;" #contentContainer>
                <div *ngFor="let m of messages.messages">
                	<p *ngIf="m.type=='ename'" style="color:red">{{m.content}}</p>
                	<p *ngIf="m.type=='evalue'" style="color:red">{{m.content}}</p>
                	<p *ngIf="m.type=='trace'" style="color:red">{{m.content}}</p>
                	<p *ngIf="m.type=='html'" [innerHtml]="trustedHTML(m.content)"></p>
                	<p *ngIf="m.type=='text'" >{{m.content}}</p>
                	<img *ngIf="m.type=='image'" [src]="trustedURL('data:image/png;base64,'+m.content)">
                	
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="clickClose()" type="button" class="btn btn-default">Discard</button>
                <button (click)="clickSave()" type="button" class="btn btn-default">Save</button>
                <button (click)="clickDownload()" type="button" class="btn btn-default">Download</button>
            </div>
        </div>
    </div>
</div>
