<div class="modal-header">
  <h5 class="modal-title">Create a new project</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body light">

  <div class="alert alert-danger mb-3" *ngIf="errorMessage != null">
    {{ errorMessage }}
  </div>

  <div class="d-flex gap-3">
    <div (click)="withProjectImage = false" [class.active]="!withProjectImage"
         class="option rounded-3 p-3 cursor-pointer shadow-sm w-50">
      <h6>Empty project</h6>
      <p class="text-muted m-0">
        Create graphical DSLs for modeling environments.
      </p>
    </div>
    <div (click)="withProjectImage = true" [class.active]="withProjectImage"
         class="option rounded-3 p-3 cursor-pointer shadow-sm w-50">
      <h6>From template</h6>
      <p class="text-muted m-0">
        Use an existing modeling environment.
      </p>
    </div>
  </div>
  <hr>
  <form (ngSubmit)="createProject()" [formGroup]="form" class="d-flex flex-column gap-3 mb-3">
    <div>
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        formControlName="name"
        [class.is-invalid]="!(form.get('name') | validateFormInput)"
        id="name"
        placeholder="Enter a name"
        type="text">
      <cc-validation-error-message
        [form]="form.get('name')"
        [name]="'Name'">
      </cc-validation-error-message>
    </div>
    <div>
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter a description"
        rows="3">
      </textarea>
    </div>
  </form>
  <div *ngIf="withProjectImage" class="mt-3">
    <label class="form-label">Template</label>

    <div *ngIf="selectedProjectImage != null" class="list-group">
      <div class="list-group-item p-2 d-flex align-items-center">
        <div class="w-100">
          <cc-workspace-image-badge [image]="selectedProjectImage"></cc-workspace-image-badge>
        </div>
        <div>
          <i (click)="selectedProjectImage = null" class="fa fa-fw fa-times cursor-pointer"></i>
        </div>
      </div>
    </div>

    <cc-workspace-image-search-input
      (selectImage)="selectedProjectImage = $event"
      *ngIf="selectedProjectImage == null"
    >
    </cc-workspace-image-search-input>
  </div>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="createProject()" [disabled]="!canCreateProject" class="btn btn-primary" type="button">Create</button>
</div>
