<div class="modal-header">
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
  <h6>
    <strong>{{text}}</strong>
  </h6>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">{{cancelButtonText}}</button>
  <button (click)="modal.close()" class="btn btn-primary" type="button">{{confirmButtonText}}</button>
</div>
