<div class="modal-header">
  <h5 class="modal-title">Create a new organization</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body light">

  <div class="alert alert-danger mb-3" *ngIf="errorMessage != null">{{ errorMessage }}</div>

  <form (ngSubmit)="createOrganization()" [formGroup]="form" class="d-flex flex-column gap-3 mb-3">
    <div>
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        formControlName="name"
        [class.is-invalid]="!(form.get('name') | validateFormInput)"
        id="name"
        placeholder="Enter a name"
        type="text">
      <cc-validation-error-message
        [form]="form.get('name')"
        [name]="'Name'">
      </cc-validation-error-message>
    </div>
    <div>
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter a description"
        rows="3">
      </textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="createOrganization()" [disabled]="form.invalid" class="btn btn-primary" type="button">Create</button>
</div>
