<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/img/cinco-logo-square.png" class="me-2" style="height: 23px;"> CincoCloud
    </a>
  </div>
</nav>
