html {
    font-size: 0.875rem;
}


hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.cursor-pointer {
    cursor: pointer;
}


.dropdown-toggle.no-caret::after {
    display: none !important;
}


/* dark tabs */
.nav-tabs li a {
    background: rgba(199, 199, 199, 0.13) !important;
    border: none !important;
    color: rgba(255,255,255,.5);
}
.nav-tabs li a.active {
    background: rgba(199, 199, 199, 0.26) !important;
    border: none !important;
    color: inherit;
}


/* extra small button from bs3 */
.btn-xs, .btn-group-xs .btn {
    padding: .125rem .375rem;
}


/* modal dialogs */
.modal {
    background: rgba(0,0,0,0.6);
    color: #212529;
}
/* keep light tabs in modals */
.modal .nav-tabs li a {
    background: #fff;
    color: #b1b1b1;
}
.modal .nav-tabs li.active a {
    background: #eaecef;
    color: #212529;
}
.modal .modal-title,
.modal label {
    color: #212529;
}



/* pyro list */
.pyro-list-entry:hover {
    background-color: rgba(255,255,255,0.2);
}
.pyro-list-entry {
    background-color: rgba(255,255,255,.1);
}
.pyro-list-entry a {
}



.pyro-table {
}
.pyro-table td,
.pyro-table th {
    border-top: 1px solid #8c8c8c;
}
.pyro-table thead th {
    border-bottom: 2px solid #8c8c8c;
}



.pyro-panel {
    background: none;
    background-color: none;
    border: none !important;
}
.pyro-panel .pyro-panel-body {
    background: rgba(255,255,255,.1);
}
.pyro-panel .pyro-panel-heading {
    background: rgba(255,255,255,.15);
    border-radius: 0 !important;
}



.sidebar > .sidebar-section {
    margin-bottom: 1.5rem;
}
.sidebar > .sidebar-section > .sidebar-section-item {
    display: block;
    padding: .25rem .5rem;
}
.sidebar > .sidebar-section > .sidebar-section-item:hover {
    text-decoration: none;
}
.sidebar > .sidebar-section > .sidebar-section-item.active {
    border-radius: .2rem;
}


a.btn.btn-link {
    background: #dddddd;
    color: #000;
    line-height: 1.5rem;
}


.cursor-pointer:hover {
    cursor: pointer;
}


.border-bl-radius-0 {
  border-bottom-left-radius: 0px !important;
}

.border-br-radius-0 {
  border-bottom-right-radius: 0px !important;
}


.draggable:hover {
  cursor: grab;
}

.not-draggable:hover {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}

