<div class="container">
  <div class="mt-3 mx-auto">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <strong>Personal Information</strong>
      </div>
      <div class="card-body">
        <div class="mb-3" *ngIf="pictureReference != null">
          <div class="logo rounded-3 d-flex" [ngStyle]="profilePictureStyle" (click)="pictureReference = null">
            <div class="rounded-3">
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </div>
          </div>
          <hr>
        </div>

        <form id="changeInformationForm" (ngSubmit)="changeInformation()" [formGroup]="informationChangeForm"
              class="d-flex flex-column gap-3">
          <div>
            <label class="form-label" for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              [class.is-invalid]="!(informationChangeForm.get('name') | validateFormInput)"
              id="name"
              placeholder="Enter your name"
              type="text">
            <cc-validation-error-message
              [form]="informationChangeForm.get('name')"
              [name]="'Name'">
            </cc-validation-error-message>
          </div>
          <div>
            <label class="form-label" for="email">Email</label>
            <input
              class="form-control"
              formControlName="email"
              [class.is-invalid]="!(informationChangeForm.get('email') | validateFormInput)"
              id="email"
              placeholder="Enter your email"
              type="email">
            <cc-validation-error-message
              [form]="informationChangeForm.get('email')"
              [name]="'Email'">
            </cc-validation-error-message>
          </div>
          <div>
            <cc-file-input #input (selectFile)="handleFileSelect($event)" (clear)="handleClear()"></cc-file-input>
          </div>
        </form>
      </div>
      <div class="card-footer text-end">
        <button
          class="btn-primary btn"
          type="submit"
          form="changeInformationForm"
          [disabled]="informationChangeForm.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
