<div class="card">
  <div class="card-header">
    <strong>Transfer ownership to organization</strong>
  </div>
  <div class="card-body" id="body">
    <div class="mb-3">
      <label>Organization</label>
      <cc-search-organization-input (organization)="newOrg = $event"></cc-search-organization-input>
    </div>
  </div>
  <div class="card-footer text-end" id="footer">
    <button class="btn btn-sm btn-primary" (click)="transferOrganization()">Transfer</button>
  </div>
</div>
