<div class="container mt-3">
  <div *ngIf="organizationStore.canCreateProjects(user)">
    <button (click)="openCreateProjectModal()" class="btn btn-primary">New Project</button>
    <hr>
  </div>
  <cc-project-list *ngIf="organization.projects.length > 0" [projects]="organization.projects"></cc-project-list>
  <div *ngIf="organization.projects.length === 0" class="alert alert-info">
    This organization does not have any projects yet.
  </div>
</div>
