<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex flex-row align-items-center" routerLink="/app">
      <img class="me-2" src="assets/img/cinco-logo-square.png" style="height: 23px"> CincoCloud
    </a>

    <button
      aria-label="Toggle navigation"
      class="navbar-toggler text-white"
      type="button"
      (click)="collapse = !collapse"
    >
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>

    <div *ngIf="user != null" class="collapse navbar-collapse" [ngbCollapse]="collapse">
      <ul *ngIf="user.isAdmin" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/app/admin" (click)="collapse = true">
            <fa-icon [fixedWidth]="true" [icon]="['fas', 'user-lock']"></fa-icon>
            <span class="ms-2">Admin</span>
          </a>
        </li>
        <ng-container *ngIf="!collapse">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/app/profile" (click)="collapse = true">
              <fa-icon [fixedWidth]="true" [icon]="['fas', 'user']"></fa-icon>
              <span class="ms-2">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/logout" (click)="collapse = true">
              <fa-icon [fixedWidth]="true" [icon]="['fas', 'sign-out-alt']"></fa-icon>
              <span class="ms-2">Logout</span>
            </a>
          </li>
        </ng-container>
      </ul>

      <ul class="nav ms-auto" *ngIf="collapse">
        <li class="nav-item" display="dynamic" ngbDropdown placement="bottom-end">
          <a
            class="nav-link text-white"
            ngbDropdownToggle
            role="button"
            tabindex="0"
          >
            <cc-user-profile-image
              [user]="user"
              class="d-inline-block me-2"
              style="height: 23px"
            >
            </cc-user-profile-image>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/app/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem routerLink="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
