<div class="container mt-3">
  <div class="d-flex flex-column flex-md-row align-items-md-center">
    <ul #nav="ngbNav" class="nav nav-pills d-flex gap-2" ngbNav>
      <li class="nav-item" ngbNavItem="users">
        <a class="nav-link" ngbNavLink>
          Users <span class="badge">{{users.length}}</span>
        </a>
        <ng-template ngbNavContent>
          <div *ngIf="users.length === 0; else userList" class="alert alert-info mt-3">
            There aren't any users yet.
          </div>
          <ng-template #userList>
            <cc-user-list
              (userDeletionRequest)="deleteUser($event)"
              (userToggleStatusRequest)="toggleUserStatus($event)"
              [users]="users">
            </cc-user-list>
          </ng-template>
        </ng-template>
      </li>
      <li class="nav-item" ngbNavItem="admins">
        <a class="nav-link" ngbNavLink>
          Admins <span class="badge">{{admins.length}}</span>
        </a>
        <ng-template ngbNavContent>
          <div *ngIf="admins.length === 0; else adminList" class="alert alert-info mt-3">
            There aren't any admins yet.
          </div>
          <ng-template #adminList>
            <cc-admin-list (removeAdminRoleRequest)="removeAdmin($event)" [admins]="admins"></cc-admin-list>
          </ng-template>
        </ng-template>
      </li>
    </ul>
    <div class="mt-3 mt-md-0 ms-md-auto">
      <button
        (click)="openCreateUserModal()"
        *ngIf="nav.activeId === 'users'"
        class="btn btn-primary"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; Create User
      </button>
      <button
        (click)="openAddAdminModal()"
        *ngIf="nav.activeId === 'admins'"
        class="btn btn-primary"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; Add Admin
      </button>
    </div>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-3"></div>
</div>

