<div class="container mt-3">

  <div class="grid">
    <div class="g-col-12 g-col-lg-4">
      <cc-editor-widget [project]="project"></cc-editor-widget>
    </div>
    <div class="g-col-12 g-col-md-6 g-col-lg-4">
      <cc-status-widget [project]="project"></cc-status-widget>
    </div>
    <div class="g-col-12 g-col-md-6 g-col-lg-4">
      <cc-overview-widget [project]="project"></cc-overview-widget>
    </div>
  </div>

</div>
